<h1>Display restaurant</h1>
<p> <%= @restaurant.name %> - <%= @restaurant.address %> - <%= @restaurant.category %> </p>
<ul class="list-group">
    <% @restaurant.reviews.each do |review| %>
      <li class="list-group-item"><%= review.content %></li>
    <% end %>
  </ul>

<%= link_to "List of restaurants", restaurants_path %>
<%= link_to "Leave review",  new_restaurant_review_path(@restaurant) %>